<!DOCTYPE html>
{{ include 'cabecera.html'}}
<div class="contenedor">
    {{ include 'barranav.html'}}
    <br>
    <h2>GESTION SALONES</h2>
    {{=datos}}
</div>
<script src="{{=URL('static', 'js/cerrarSesion.js')}}"></script>
<script src="{{=URL('static', 'js/cambiarNombreBotones.js')}}"></script>
<script src="{{=URL('static', 'js/jquery.js')}}"></script>
<script src="{{=URL('static', 'js/bootstrap.bundle.min.js')}}"></script>
<script src="{{=URL('static', 'js/modernizr-2.8.3.min.js')}}"></script>