<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro Estudiante</title>
  <link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/estilos.css')}}">
</head>

<body>
  <h1>{{=message1}}</h1>
  <br>
  <section id="formRegistro"></section>
  <br>
  <h1>{{=message2}}</h1>
  <section id="formDataPadres"></section>
  <br>
  <button type="submit" onclick=guardarDatos() class="'btn btn-success boton-Registro'">Registrar Estudiante</button>
  <script src="{{=URL('static', 'js/guardaDatos.js')}}"></script>
  <script src="{{=URL('static', 'js/formulario.js')}}"></script>
  <script src="{{=URL('static', 'js/jquery.js')}}"></script>
</body>

</html>