html {
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-weight: bolder;
}

h4 {
  text-align: center;
  margin-top: 5px;
  background-color: darkcyan;
  color: whitesmoke;
}
.contenedor{
  margin-left:10%;
  margin-right: 10%;
}

.login h1 {
  text-align: center;
  color: aliceblue;
}

.login{
  margin-top: 200px;
  background-color: cadetblue;
  padding: 20px;
  border-radius: 10px;
}

.boton-sesion{
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgb(51, 84, 85);
  width: 40%;
}

.input-usuario{
  position: relative;
  float: inline-end;
  width: 39%;
}

.input-pass{
  position: relative;
  float:inline-start; 
  width: 39%;
}

.form-control{
  margin-top: 5px;   
}

.boton-registro {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%; 
  background-color: darkcyan;
}

.validaciones-campo-incorrecto {
  border: 3px solid crimson;
}

.validaciones-campo-correcto {
  border: 1px solid #ced4da;
}

.contenedor-actualiza{
  visibility:hidden;
}

.busca-contenedor{
  text-align: center;
}

.input-buscar-estudiante{
  text-align: center;
  width: 40%;
  margin-left:auto;
  margin-right:auto;
}